# Ignorar carpetas específicas
Configuración local/
Cookies/
Datos de programa/
Entorno de red/
Impresoras/
Menú Inicio/
Mis documentos/
Plantillas/
Reciente/
SendTo/

# Ignorar configuraciones del sistema
*.tmp
*.log
NTUSER.*
